



<div class="container" style="margin-top: 1%;">
    <mdb-card>
        <mdb-card-header><h3>Usuarios</h3> </mdb-card-header>
        <mdb-card-body>
         
            <table mdbTable hover="true">
                <thead>
                  <tr>
                    <th>jajaja</th>
                    <th>dsadsad</th>
                    <th>fafafaf</th>
                    <th>gagagag</th>
            
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <th>ada</th>
                    <td>adad</td>
                    <td>addad</td>
                    <td>adad</td>
                  </tr>
                </tbody>
              </table>


        </mdb-card-body>
        <mdb-card-footer class="text-muted"></mdb-card-footer>

      </mdb-card>

</div>