<div class="container col-md-10" style="margin-top: 1%; height: auto;">
    <mdb-card style="height: 600px;">
        <mdb-card-header>
            <h3>Evidencias</h3>
          
            <div class="row">
                <div class="col-md-1"></div>
                <div class="md-form  col-md-4" id="buscador">
                    <input mdbInput type="text" [(ngModel)]="filtroUser" class="form-control">
                    <label for="form1" class="">Buscar Por Codigo</label>
                </div>
                <div class="col-md-4" style="margin-left: 24%;padding-top: 2%;">
                    <label for="" class="col-md-5"> Mostrar por estado </label>
                    <select [compareWith]="compare" class="browser-default custom-select col-md-7" id="unidad"
                        name="unidad" (change)="listarEvidencias(usuario.id,mostrar)" [(ngModel)]="mostrar" required>
                        <option value="1"> En Espera </option>
                        <option value="2"> Aprobado </option>
                        <option value="3"> Rechazado </option>
                    </select>
                </div>
            </div>
           
        </mdb-card-header>

        <mdb-card-body style="overflow-y: auto;">

            <table mdbTable hover="true" class="table-responsive-md  text-center">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha de envio</th>
                        <th>Unidad</th>
                        <th>Proceso</th>
                        <th>Registro</th>
                        <th>Ambito</th>
                        <th>estado</th>
                        <th>Accion</th>


                    </tr>
                </thead>
                <tbody style="overflow: auto;">
                    <tr *ngFor="let evi of evidencias">
                        <td><a>{{evi.codigo}}</a></td>
                        <td><a>{{evi.fecha}}</a></td>
                        <td><a>{{evi.unidad.nombre}}</a></td>
                        <td><a>{{evi.proceso.nombre_proceso}}</a></td>
                        <td><a>{{evi.registro.tipo_registro}}</a></td>
                        <td><a>{{evi.ambito_a.nombreAmbito}}</a></td>

                
                        <td  *ngIf="evi.estado == 'En Espera'" > <a> <mdb-icon fas icon="question"></mdb-icon> <mdb-icon fas icon="question"></mdb-icon> </a> </td>
                        <td  *ngIf="evi.estado == 'Rechazado por dca'"> <a> <mdb-icon style="color: green;" fas icon="user-check"></mdb-icon>  <mdb-icon style="color: red;" fas icon="user-times"></mdb-icon> </a> </td>
                        <td  *ngIf="evi.estado == 'Rechazado por responsable'"> <a><mdb-icon style="color: red;" fas icon="user-times"></mdb-icon> </a> </td>

                        <td  *ngIf="evi.estado == 'Aprobado'"> <a>  <mdb-icon style="color: green;" fas icon="user-check"></mdb-icon>  <mdb-icon style="color: green;" fas icon="user-check"></mdb-icon></a>
                        <td  *ngIf="evi.estado == 'Aprobado Por Responsable'"> <a> <mdb-icon style="color: green;" fas icon="user-check"></mdb-icon> <mdb-icon fas icon="question"></mdb-icon></a> </td>

                        
                        <td>
                            <span [routerLink]="['/evidencia/ver-evidencia-usuario',evi]"><mdb-icon far size="2x" icon="eye" class="brown-text" ></mdb-icon></span>
                            <span *ngIf="evi.estado == 'En Espera'"  type="button"  [routerLink]="['/evidencia/nueva-evidencia',evi]"><mdb-icon size="2x" class="blue-text ml-3" fas icon="edit"></mdb-icon></span>
                            <span *ngIf="evi.estado == 'En Espera'"  type="button"  (click)="eliminar(evi.id)"  ><mdb-icon far icon="trash-alt" class="red-text ml-3"  size="2x"></mdb-icon></span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </mdb-card-body>
    </mdb-card>
</div>