<div class="container col-md-10" style="margin-top: 1%; height: auto;">
    <mdb-card style="height: 700px;">
        <mdb-card-header>
            <h3>Evidencias</h3>
          
                <div class="md-form  col-md-11" id="buscador">
                    <input mdbInput type="text" [(ngModel)]="filtroUser" class="form-control">
                    <label for="form1" class="">Buscar Por Codigo</label>

                </div>

           
        </mdb-card-header>

        <mdb-card-body style="overflow-y: auto;">

            <table mdbTable hover="true" class="table-responsive-md  text-center">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Proceso</th>
                        <th>Tipo De Registro</th>
                        <th>Debilidad</th>
                        <th>Criterio</th>
                        <th>estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>

                <tbody style="overflow: auto;">
                    <tr *ngFor="let evi of evidencias | filtro: 'codigo':filtroUser">
                        <td><a>{{evi.codigo}}</a></td>
                        <td><a>{{evi.proceso.nombre_proceso}}</a></td>
                        <td><a>{{evi.registro.tipo_registro}}</a></td>
                        <td><a>{{evi.debilidad.nombre}}</a></td>
                        <td><a>{{evi.criterio.nombre}}</a></td>
                        <td > <a>{{evi.estado}}</a></td>


                        <td>
                            <span [routerLink]="['/evidencia/ver-evidencia-responsable',evi]"><mdb-icon far size="2x" icon="eye" class="brown-text" ></mdb-icon></span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </mdb-card-body>
    </mdb-card>
</div>