<div class="col-md-12  row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <h1 style="margin-top: 91px; ">Sistema De Evidencias </h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Escudo_Universidad_Cat%C3%B3lica_del_Maule.gif"
        style="margin-left: 97px; margin-top: 50px;" width="223px"> 
    </div>
    <div class="col-md-6">
            <img  class=" img-responsive" style="height: 842px; width: 118%; position: absolute;" src="https://portal.ucm.cl//content/uploads/2016/10/universidad-ucm.jpg" > 
    </div>
</div>
