<div class="container col-md-12" style="margin-top: 1%;">
    <h3 style="margin-left: 5%; margin-bottom: 2%;">Sistema de evidencia</h3>
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-4">
            <form [formGroup]="rolForm" (ngSubmit)="create()">
                <mdb-card style="height: 600px;">
                    <mdb-card-header>
                        <h3>Registro De Roles</h3>
                    </mdb-card-header>
                    <mdb-card-body>
                        <div class="container">
                            <div class="row">
                                <div *ngIf="mostrar_boton==false" class="md-form" style="width: 13%;margin-right: 7%;">
                                    <input mdbInput type="text" width="100%" name="id" id="id" formControlName="id"
                                        class="form-control">
                                    <label for="id" class="">ID</label>
                                </div>
                                <div class="md-form" style="width:77%;">
                                    <input mdbInput type="text" style="width:100%" name="nombre" id="nombre"
                                        formControlName="nombre" class="form-control">
                                    <label for="nombre" class="">Nombre Rol</label>
                                </div>
                            </div>

                            <div class="md-form">
                                <textarea style="resize: none;" name="descripcion" id="descripcion"
                                    formControlName="descripcion" type="text" rows="6"
                                    class="md-textarea md-textarea-auto form-control" mdbInput></textarea>
                                <label for="descripcion">Descripcion </label>
                            </div>
                        </div>

                    </mdb-card-body>
                    <mdb-card-footer>
                        <button *ngIf="mostrar_boton" mdbWavesEffect type="submit" id="btn-guardar" name="btn-guardar"
                            class="btn btn-success" [disabled]="rolForm.invalid">Guardar</button>
                        <button mdbWavesEffect *ngIf="mostrar_boton == false" type="button" (click)="editar()"
                            class="btn btn-primary" [disabled]="rolForm.invalid">Editar</button>
                        <button mdbWavesEffect style="float: right;" (click)="reset()" type="button"
                            class="btn btn-warning">Cancelar</button>


                    </mdb-card-footer>
                </mdb-card>
            </form>
        </div>

        <div class="col-md-6">
            <mdb-card style="height: 600px;">
                <mdb-card-header>
                    <h3>Roles</h3>
                    <div class="md-form" id="buscador">
                        <input mdbInput [(ngModel)]="filtroRol" type="text" class="form-control">
                        <label for="form1" class="">Buscar Por ID</label>
                    </div>
                </mdb-card-header>

                <mdb-card-body style="overflow-y: auto;">

                    <table mdbTable hover="true" class="table-responsive-md  text-center">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Accion</th>
                            </tr>
                        </thead>
                        <tbody style="overflow: auto;">
                            <tr *ngFor="let item of roles | filtro: 'nombre':filtroRol ">
                                <td>{{item.id}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.descripcion}}</td>

                                <td><button type="button" (click)="ver(item)" class="btn btn-info"
                                        mdbWavesEffect>Ver</button>
                                    <button style="margin-left: 2%;" type="button" (click)="eliminar(item)"
                                        class="btn btn-danger" mdbWavesEffect>Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </mdb-card-body>
                <mdb-card-footer>

                </mdb-card-footer>

            </mdb-card>
        </div>
    </div>
</div>