<div class="container col-md-10" style="margin-top: 1%; height: auto;">
    <mdb-card style="height: 700px;">
        <mdb-card-header>
            <h3>Evidencias</h3>
          
                <div class="md-form  col-md-11" id="buscador">
                    <input mdbInput type="text" [(ngModel)]="filtroUser" class="form-control">
                    <label for="form1" class="">Buscar Por Codigo</label>

                </div>

           
        </mdb-card-header>

        <mdb-card-body style="overflow-y: auto;">

            <table mdbTable hover="true" class="table-responsive-md  text-center">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha de envio</th>
                        <th>Unidad</th>
                        <th>Proceso</th>
                        <th>Registro</th>
                        <th>Ambito</th>
                        <th>estado</th>
                        <th>Accion</th>


                    </tr>
                </thead>
                <tbody style="overflow: auto;">
                    <tr *ngFor="let evi of evidencias">
                        <td><a>{{evi.codigo}}</a></td>
                        <td><a>{{evi.fecha}}</a></td>
                        <td><a>{{evi.unidad.nombre}}</a></td>
                        <td><a>{{evi.proceso.nombre_proceso}}</a></td>
                        <td><a>{{evi.registro.tipo_registro}}</a></td>
                        <td><a>{{evi.ambito_a.nombreAmbito}}</a></td>

                        <td  *ngIf="evi.estado == 'En Espera'" ><mdb-card style="background-color: yellow;"> <a>{{evi.estado}}</a> </mdb-card></td>
                        <td  *ngIf="evi.estado == 'Rechazado'"><mdb-card style="background-color: red; color: white;"> <a> {{evi.estado}}</a> </mdb-card></td>
                        <td  *ngIf="evi.estado == 'Aprobado'"><mdb-card style="background-color: green; color: white;"> <a> {{evi.estado}}</a> </mdb-card></td>
                        <td  *ngIf="evi.estado == 'Aprobado Por Responsable'"><mdb-card style="background-color: green; color: white;"> <a> {{evi.estado}}</a> </mdb-card></td>

                        <td>
                            <button type="button" data-toggle="modal" [routerLink]="['/evidencia/ver-evidencia-usuario',evi]"   class="btn btn-info" mdbWavesEffect>Ver</button>
                            <button *ngIf="evi.estado == 'En Espera'" style="margin-left: 1%;" type="button" data-toggle="modal" [routerLink]="['/evidencia/nueva-evidencia',evi]"   class="btn btn-primary" mdbWavesEffect>Editar</button>
                            <button *ngIf="evi.estado == 'En Espera'" style="margin-left: 1%;" type="button" data-toggle="modal" (click)="eliminar(evi.id)" class="btn btn-danger" mdbWavesEffect>Eliminar</button>

                        </td>

                    </tr>
                </tbody>
            </table>
        </mdb-card-body>
    </mdb-card>
</div>